@import url("https://cdn.jsdelivr.net/gh/rastikerdar/vazirmatn@v33.003/Vazirmatn-font-face.css");

* {
  font-family: "Vazirmatn", sans-serif !important;
}

#root {
  height: 100%;
  width: 100%;
}

html,
body {
  height: 100%;
  margin: 0;
  line-height: 1.5;
  color: #121212;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* fade container in navbar */

.fade-item {
  color: white;
  transition: color 300ms !important;
}

.fade-container:has(.fade-item:hover) .fade-item:not(:hover) {
  color: rgba(200, 200, 200, 0.8) !important;
}

/* @media print {
  .no-print {
    display: none !important;
  }
} */
